.container-fluid {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #ff9891;
}

.navbar img {
  box-shadow: 0px 6px 5px 0px #fff;
}
/* Navbar Toggler Button */
.navbar-light .navbar-toggler {
  border-color: #fff;
}
.navbar-toggler .navbar-toggler-icon {
  color: #fff;
}
/* Responsive Navbar and Dropdown */
#responsive-navbar-nav a.nav-link {
  color: #fff;
}

.dropdown-menu {
  background-color: #ff9891;
}

.dropdown-menu a.dropdown-item {
  color: #fff;
}

/* Jumbotron Button */
.btn-primary {
  border-color: #ff9891;
  background-color: #ff9891;
  color: #fff;
}

.btn-primary:hover {
  background-color: #e78782;
  color: white;
  border-color: #e78782;
}
