:root {
  --bgMain: #ffb6a9;
  --bgSecondary: #ff927e;
  --altText: #f2f2f2;
}

.container-fluid {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: var(--bgMain);
}

.navbar img {
  box-shadow: 0px 6px 5px 0px #fff;
}
/* Navbar Toggler Button */
.navbar-light .navbar-toggler {
  border-color: var(--altText);
}
.navbar-toggler .navbar-toggler-icon {
  color: var(--altText);
}
/* Responsive Navbar and Dropdown */
#responsive-navbar-nav a.nav-link {
  color: var(--altText);
}

.dropdown-menu {
  background-color: var(--bgMain);
}

.dropdown-menu a.dropdown-item {
  color: var(--altText);
}
.dropdown-item:hover {
  color: var(--altText);
  background-color: var(--bgSecondary);
}

.dropdown-menu a.dropdown-item:hover {
  color: var(--altText);
  background-color: var(--bgSecondary);
}

/* Jumbotron Button */
.btn-primary {
  border-color: var(--bgMain);
  background-color: var(--bgMain);
  color: var(--altText);
}

.btn-primary:hover {
  background-color: var(--bgSecondary);
  color: var(--altText);
  border-color: var(--bgSecondary);
}
