:root {
  --bgMain: #ff9891;
  --bgSecondary: #e87782;
  --altText: #fff;
}

.container-fluid {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: var(--bgMain);
}

.navbar img {
  box-shadow: 0px 6px 5px 0px #fff;
}
/* Navbar Toggler Button */
.navbar-light .navbar-toggler {
  border-color: var(--altText);
}
.navbar-toggler .navbar-toggler-icon {
  color: var(--altText);
}
/* Responsive Navbar and Dropdown */
#responsive-navbar-nav a.nav-link {
  color: var(--altText);
}

.dropdown-menu {
  background-color: var(--bgMain);
}

.dropdown-menu a.dropdown-item {
  color: var(--altText);
}

/* Jumbotron Button */
.btn-primary {
  border-color: var(--bgMain);
  background-color: var(--bgMain);
  color: var(--altText);
}

.btn-primary:hover {
  background-color: var(--bgMain);
  color: var(--altText);
  border-color: var(--bgMain);
}
